<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VerifyBP" value="C:\Blueprint\Build_New"/>
    <add key="VerifyAgainstBP" value="C:\Blueprint\Build_Old"/>
    <add key="EnglishBPRef" value="C:\Blueprint\Build_Old\AI32-en_US.csv"/>
    <add key="BPDiffPath" value="C:\Blueprint\BPDiff\Build_New"/>
    <add key="BPResults" value="C:\Blueprint\BPDiff\Build_New\Results.csv"/>
    <add key="XMLPath" value="C:\SampleFiles\FilesPath.xml"/>
    <add key="VerifyBPBuildNo" value="682.6"/>
    <add key="VerifyAgainstBPBuildNo" value="682.1"/>
    <add key="EnglishRefBuildNo" value="682.6_20120405"/>
    <add key="EnglishRefLocale" value="en_US"/>
    <add key="ExcludeNotModified" value="true"/>
    <add key="CheckXMLPath" value="false"/>
  </appSettings>
</configuration>